// Font
$base_fz                :   14px;
$main_font              :   'Poppins', sans-serif;

// Color
$no_clr					:   transparent;
$white_clr				:   #ffffff;
$black_clr				:	#000000;
$blue_clr				:   #00AEEF;
$clr_yellow             :   #ffac00;
$clr_e4                 :   #e4e4e4;
$clr_212529             :   #212529;

// Border
$border_1px             :   1px solid;
$border_2px             :   2px solid;

// Media Queries
$break_1280             :   1280px;
$break_1240             :   1240px;
$break_1080             :   1080px;
$break_1024             :   1024px;
$break_991              :   991px;
$break_850              :   850px;
$break_768              :   768px;
$break_592              :   592px;